.lapTime {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to next line */
  align-items: center;
  justify-content: space-between;
  padding: 0.1em;
  border-bottom: 1px solid red;
}

.timer__count {
  font-size: small;
}

.lapTime > img {
  width: 18px;
  cursor: pointer;
}
